<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfjlpw76PBv3OzWBxUTyex0z0CFUdPfQk</string>
	<key>GCM_SENDER_ID</key>
	<string>289445103761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTutorial</string>
	<key>PROJECT_ID</key>
	<string>dbtutorial-3bf7e</string>
	<key>STORAGE_BUCKET</key>
	<string>dbtutorial-3bf7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289445103761:ios:d7c0c487bd05d141f21730</string>
</dict>
</plist>